/* COLORES */
$colorBackgroundPrincipal: rgb(253, 253, 253);
$colorBackgroundSecundario: #f06292;
$colorBackgroundTerciario: #f06292;
$colorBackgroundCuaternario: #8AC3B8;

/*FUENTES*/


/* MEDIDAS */
$altoDeCaja: 300px;
$marginCajas: 20px;
$anchoCajas: 400px

