/* COLORES */
$colorBackgroundPrincipal: #fdcbd3;
$colorBackgroundSecundario: purple;
$colorBackgroundTerciario: #f06292;
$colorBackgroundCuaternario: #8AC3B8;

/*FUENTES*/


/* MEDIDAS */
$altoDeCaja: 300px;
$marginCajas: 20px;
$anchoCajas: 400px

