
*{
    margin: 0%;
    padding: 0%;

}
@import "variables";

body{
    font-family: 'Roboto Mono', monospace;
    background-color: $colorBackgroundPrincipal;
}


/*Seccion Index*/

.imagenLogo{
    width: 100px;
    height: 100px;
    margin: 3px;
}

.header__navegacion h1 {
    
    display: inline;
}
.header__navegacion__menu{
    li{
        list-style-type: none;
        display: inline;
        margin: 10px;
        padding: 5px 10px;

        a{
            text-decoration: none;
            color: black;
            display: inline-block;
         
        }
        ul{
            li{
                display: block;
            }
        }
    }
}

ul ul li{
    display: block;
}

ul li ul{
    display: none;
    position: absolute;
    background-color: #ffcdd2;
    color: black;
}
ul li:hover ul{
    display: block;
}

.header__navegacion{

    display: inline;
    display: flex;
    justify-content: space-between;
    background-color: $colorBackgroundSecundario;
    width: 100%;
    height: 100px;
    margin-left: 0px;
    margin-top: 0px;
    align-items: center;
    z-index: 2; 
}
    
#finDePagina {
    color: black;
    font-style: italic;
    height: 100px;
    background-color: $colorBackgroundSecundario;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footerContacto img{
    width: 30px;
    height: 30px;
}

.footerContacto ul{
    list-style-type: none;
    
}
.footerContacto__titulo{
    font-weight: bold;
    font-size: 15px;
}
.finDePagina__copyright{
    font-weight: bold;
    font-size: 15px;
}
.redesSociales img{
    width: 40px;
    height: 40px;

}
.section__botonesProductos{
    display: flex;
    flex-direction: row;
    height: auto;
    margin-top: 50px;
}

.section__botonesProductos__botones{
    display: inline-block;
    list-style-type: none;
        
    li{
        display: inline;
    }
    a{
        margin: 20px 5px;
        font-weight: bold;
        font-size: 1rem;
        background-color: rgb(253, 138, 186);
    }
    a:hover{
        color: white;
    }
      
}

.bodySeccionIndex{
    display: grid;
    grid-template-areas: 
    "header header header header header header header header"
    "contendedorGeneral contendedorGeneral contendedorGeneral"
    "contendedorGeneral contendedorGeneral contendedorGeneral"
    "finDePagina finDePagina finDePagina finDePagina finDePagina";
}

@media only screen and (min-width: 320px) and (max-width: 767px){

   .header__navegacion{
     display: flex;
     flex-direction: row;
     background-color: $colorBackgroundCuaternario;
     width: 100%;
     height: auto;
     position: sticky;
    }

   .header__navegacion__menu{
       li{
           display: block;
           font-size: 1.5rem;
        }
    }
   #finDePagina{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     height: auto;
     background-color: $colorBackgroundCuaternario;
    }
 
    .section__botonesProductos__botones{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
        
        li{
            display: block;
            font-size: 0.5rem;
         
        }
        a{
            padding-left: 5em;
            padding-right: 5em;
        }
    }
    .section__botonesProductos{
        padding-right: 0px;
        padding-left: 0px;
    }
    .enviosDomilicio{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5em;
        padding-left: 50px;
        padding-right: 50px;
        
    }
    .mediosDePago{
        margin-top: 5em;
        margin-bottom: 5em;
        padding-left: 50px;
        padding-right: 50px;
    
    }
    .imagenCentral{
        margin-top: 0px;
        width: 100%;
        height: 15em;
    }
    .seccionInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .enviosDomilicio__titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 400px;
            height: 400px;
        }
    }
    .ubicacion{
        width: 100%;
    }
    
}
.imagenesCarousel{

    height: auto;
    margin-top: 0px;
    width: 100%;
}
.imagenCentral{
    width: 100%;
    
}

.seccionInfo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


.mediosDePago{
    display: flex;
    align-items: center;
     
}
.mediosDePago__contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.mediosDePago__contenedor img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    
}
.mediosDePago__contenedor p{
    display: inline;
}
.enviosDomilicio{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.enviosDomilicio__titulo img{
    width: 50px;
    height: 50px;

}
.enviosDomilicio__titulo h2{
    display: inline;
    text-align: center;
    
}



/* Seccion Contacto */

.formularioContacto {
  
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
}
.navSeccionContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $colorBackgroundSecundario;
}
.menuSeccionContacto{
    li{
        list-style-type: none;
        display: inline;
        margin: 10px;
        padding: 5px 10px;
        
        a{
            text-decoration: none;
            color: black;
        }
    }
   
}
.form-check-input{
    background-color: #8AC3B8;
    border: #f06292 solid;
}


.bodySeccionContacto{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "encabezadoSeccionContacto encabezadoSeccionContacto encabezadoSeccionContacto"
    "seccionFormulario         .                         .                        "
    "seccionFormulario         .                         .                        "
    "footerSeccionContacto footerSeccionContacto footerSeccionContacto";
    

}
.encabezadoSeccionContacto{
    grid-area: encabezadoSeccionContacto;
    
}

.seccionFormulario{
    grid-area: seccionFormulario;
    height: 500px;
    width: 100%;
    margin-top: 200px;
    
}

.footerSeccionContacto{
    grid-area: footerSeccionContacto;
    color: black;
    height: 100px;
    background-color: $colorBackgroundSecundario;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footerContacto{
    p{
       font-weight: bold;
       font-size: 15px;
       text-align: center;
    }
}
.footerTexto{
    font-weight: bold;
    font-size: 15px;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .footerSeccionContacto{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     height: auto;
     background-color: $colorBackgroundCuaternario;

    }
    .navSeccionContacto{
     display: flex;
     flex-direction: row;
     background-color: $colorBackgroundCuaternario;
     width: 100%;
     height: auto;
     position: sticky;
    }
    .menuSeccionContacto{
        li{
           display: block;
        }
    }
    .formularioContacto{
        display: flex;
        flex-direction: column;
        
    }
    .seccionFormulario{
        margin-top: 5em;
        margin-bottom: 5em;
    }
    
}

/* Seccion Nosotros*/
.navSeccionNosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $colorBackgroundSecundario;
}
.botonMenu{
    .iconoMenu{
        background-image: url(../multimedia/imagenes/icono-dona.png);
    }
    
}
.menuSeccionNosotros{
    li{
        list-style-type: none;
        display: inline;
        margin: 10px;
        padding: 5px 10px;
        
        a{
            text-decoration: none;
            color: black;
        }
    }
}
.contenidoSeccionNosotros{
    height: 40em;
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 100px 300px;
    grid-template-areas: 
    "tituloNosotros tituloNosotros"
    "contenedorTexto contenedorImagen";
    
}
.tituloNosotros{
    border-bottom: 5px rgb(253, 131, 152) solid;
    grid-area: tituloNosotros;
    padding-bottom: 5px;
}
.contenedorTexto{
    margin-top: 2em;
    margin-bottom: 2em;
    grid-area: contenedorTexto;
    margin-left: 1em;
}
.contenedorImagen{
    grid-area: contenedorImagen;
    margin-top: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .contenidoSeccionNosotros{
        grid-template-columns: 12fr;
        grid-template-rows: 50px 350px 250px;
        grid-template-areas: 
        "tituloNosotros"
        "contenedorTexto"
        "contenedorImagen";
        height: 50em;
    }
    .tituloNosotros{
        margin-top: 20px;
    }
    .contenedorTexto{
        margin-left: 0px
    }

}

/* seccion Pedidos*/
.contenidoSeccionPedidos{
    margin-top: 100px;
}
.navSeccionpedidos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $colorBackgroundSecundario;
}
.menuSeccionPedidos{
    li{
        list-style-type: none;
        display: inline;
        margin: 10px;
        padding: 5px 10px;
        
        a{
            text-decoration: none;
            color: black;
        }
        
    }
    
}
.footerContacto__seccionPedidos{
    a{
        text-decoration: none;
        color: black;
        margin-left: 5px;
    }
}
.footerContacto__titulo{
    text-align: center;
    
}
.contenidoSeccionPedidos__contenedor{
    margin-bottom: 5em;
    border-bottom: palevioletred 5px dotted;
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .navSeccionpedidos{
     display: flex;
     flex-direction: row;
     background-color: $colorBackgroundCuaternario;
     width: 100%;
     height: auto;
     position: sticky;
    }
    .menuSeccionPedidos{
        li{
            display: block;
        }
    }
}



/*Seccion Productos*/

.contenidoSeccionProductos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    grid-area: contenidoSeccionProductos;
     
}
.navSeccionProductos h1{
    display: inline;
    
}
.navSeccionProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $colorBackgroundSecundario;
    align-items: center;
    
}
.menuSeccionProductos{
    li{
        list-style-type: none;
        display: inline;
        margin: 10px;
        padding: 5px 10px;
        a{
            text-decoration: none;
            color: black;
        }
    }

}
.headerSeccionProductos{
    grid-area: headerSeccionProductos;
}
.seccionProductosBox{
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(253, 112, 112);
    padding: 0px;
    
}

.imagenesProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}

.imagenesProductos img:hover {
	transform: scale(1.1);
	opacity: 1;
    overflow: hidden
}

.imagenesProductos div h3{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: #f06292;

}
.botonCard{
    background-color: #f06292;
}

.titoloSeccionProducto{
    margin-top: 50px;
    order: -2;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 200px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.footerSeccionProductos{
    color: black;
    font-style: italic;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: $colorBackgroundSecundario;
    grid-area: footerSeccionProductos;

}

.footerSeccionProductos img{
    width: 30px;
    height: 30px;

}
.footerSeccionProductos ul{
    list-style-type: none;
}
.footerTexto{
    text-align: center;
}
.bodySeccionProductos{
    display: grid;
    grid-template-areas: 
    "headerSeccionProductos headerSeccionProductos"
    "contenidoSeccionProductos contenidoSeccionProductos"
    "contenidoSeccionProductos contenidoSeccionProductos"
    "contenidoSeccionProductos contenidoSeccionProductos"
    "footerSeccionProductos footerSeccionProductos";
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .bodySeccionProductos{
        display: grid;
        grid-template-areas: 
        "headerSeccionProductos"
        "contenidoSeccionProductos"
        "contenidoSeccionProductos"
        "contenidoSeccionProductos"
        "footerSeccionProductos";
        
    }
    .headerSeccionProductos nav{
        display: flex;
        flex-direction: row;
        background-color: $colorBackgroundCuaternario;
        
        
    }
    .navSeccionProductos ul li{
        display: block;
        margin-left: 0px;
        padding-left: 0px 100%;
        
    }
    .headerSeccionProductos{
        height: 20%;
        margin-left: 0px;
    }
    .footerSeccionProductos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        background-color: $colorBackgroundCuaternario;
        
    }
   
    
}
/* seccion 404 */

.contenderseccion404{
    display: grid;
    grid-template-areas: 
    "seccionTexto seccionTexto contenedorImagen"
    "seccionTexto seccionTexto contenedorImagen"
    "seccionEnlaces seccionEnlaces contenedorImagen"
    "seccionEnlaces seccionEnlaces contenedorImagen";
    grid-gap: 10px;
    background-color: white;
}
.imagenHomero{
    width: 100%;
    height: 500px;
}
.seccionTexto{
    grid-area: seccionTexto;
    text-align: center;
    align-self: flex-end;
    background-color: black;
    
}
.seccionEnlaces{
    grid-area: seccionEnlaces;
    text-align: center;
    a{
        font-family: 'Courier New', Courier, monospace;
        margin: 10px;
        background-color: rgb(70, 69, 69);
        padding: 10px;
        font-size: 1rem;
        text-decoration: none;
        
    }
}
.contenedorImagen{
    grid-area: contenedorImagen;
    height: 600px;
}
.enlaceIndex{
    display: inline;
    align-self: flex-start;
    a{
        color: yellow;
        font-size: 1rem;
        font-weight: bold;
    }
}
.enlaceContacto{
    display: inline;
    a{
        color: yellow;
        font-size: 1rem;
        font-weight: bold;
    }
}
.seccionTexto__titulo{
    font-size: 2rem;
    font-weight: bold;
    color: yellow;
}
.seccionTexto__titulo--uppercase{
    text-transform: uppercase;
    font-weight: bold;
    color: yellow;
}
